# WEB SCRAPING -ASSIGNMENT-2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [39]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\spectrum buildtech\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: trio~=0.17 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [40]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Now we will download the webdriver for the web Browser.steps for downloadare:-
1.check the version of your browser
2.go to the link https://chromedriver.chromium.org/downloads
3.Download the webdriver for the version of your browser.

In [41]:
# 1st option using the respected path- after wards add\chromedriver.exe
# lets first connect to web driver
#Most essential working condition of the web driver is web driver pakage and chrome pakage version should be same
#... about crome check the version of the chrome and after word install the vesion of web driver same as chrome

driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [42]:
#2nd option using the juypter note book upload the downloded file 
#driver=webdriver.Chrome(r"chromedriver.exe")

In [43]:
#opening the naukripage on automated chrome browser

driver.get("https://www.naukri.com/")

In [44]:
#Entering designation and location as required in the question-designation is random variable
#Find element &elements are different
#usig class atribute to search automatically(using CLASS_NAME)
#send keys to tranform what ever data to put in the search element

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [45]:
# using XPATH to put a data in the search field
#using by is the latest update purposes
#Right click on the particular class name- copy -copy fullxpath
#Here its using the absolute xpath -Beacuase single slash will be their
#We are here its is scraping the single element in that purpose we will select the absolute xpath

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [46]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [47]:
#First we will create the empty list
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [48]:
# scraping job title from the given page
# using relative Xpath -class name double click, crtl+A, ctrl+C, ctrl+f, ctrl+V 
# : put sq brackets at both the ends, start end before the class put @ , put outside the sq brackets //, then class tag name-a, paste over the here
# we where taking only first 10 names only
# i will be taking only text content from the path 

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#Scraping job location from the given data
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#Scraping company name from the data
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#Scraping job experience from the given  data
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [49]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [50]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
1,Data Analyst,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",EY,5-10 Yrs
2,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
3,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Siemens,1-4 Yrs
5,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
6,Data Analyst,Bangalore/Bengaluru,Excellence And Eminence Llp,2-5 Yrs
7,Required Data Analyst Off Role,Bangalore/Bengaluru,TeamLease,3-5 Yrs
8,Data Analyst | Google App Script,"Bangalore/Bengaluru, Mumbai",Webengage,3-6 Yrs
9,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack Consulting,2-6 Yrs

In [51]:
#to fetching the url
#always links are present inside the a tag and it is always present inside the href
url=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
url[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="4c4664ae23e5437fe78ce40b8e9e2741", element="06541543-d4c8-440f-8666-2386f7ce0486")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4c4664ae23e5437fe78ce40b8e9e2741", element="e995fa91-ec3c-454f-9d66-878f1c275cd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4c4664ae23e5437fe78ce40b8e9e2741", element="aca857ab-8108-42a9-84a3-22cfa3318395")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4c4664ae23e5437fe78ce40b8e9e2741", element="99215352-0719-4e19-9ba8-e9bae71f3d82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4c4664ae23e5437fe78ce40b8e9e2741", element="9446b03f-fe3f-4273-b6c7-5f1999c666b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4c4664ae23e5437fe78ce40b8e9e2741", element="a988a8e4-f167-4929-b3a2-e673ed1a52ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4c4664ae23e5437fe78ce40b8e9e2741", element="10ef64b0-e36d-492e-af83-05b3ce462a0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4c4664ae23e5437fe78ce40b8e9e2741", element="fcc80833-26d8-4d54-a1a4-c6f28fa3317f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4c4664ae23e5437fe78ce40b8e9e2741", element="b17d3dc3-fa52-4ed8-89f1-f0b9853d0d0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4c4664ae23e5437fe78ce40b8e9e2741", element="1f911c16-589a-4e8f-9323-7089f77266c3")>]

In [54]:
#Actual url present in https
for i in url[0:10]:
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-analyst-entrupy-bangalore-bengaluru-1-to-3-years-100223501402
https://www.naukri.com/job-listings-data-analyst-ey-hyderabad-secunderabad-pune-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-5-to-10-years-030223007469
https://www.naukri.com/job-listings-data-analyst-what-digital-technologies-bangalore-bengaluru-5-to-10-years-080223007469
https://www.naukri.com/job-listings-data-analyst-databricks-optum-global-solutions-india-private-limited-bangalore-bengaluru-4-to-6-years-140223910282
https://www.naukri.com/job-listings-data-analyst-siemens-limited-bangalore-bengaluru-1-to-4-years-130223500255
https://www.naukri.com/job-listings-data-analyst-aon-bangalore-bengaluru-delhi-ncr-6-to-9-years-130223006774
https://www.naukri.com/job-listings-data-analyst-excellence-and-eminence-llp-bangalore-bengaluru-2-to-5-years-010223500631
https://www.naukri.com/job-listings-required-data-analyst-off-role-teamlease-bangalore-bengaluru-3-to-5-years-150223007310
https://www.naukri.com/job-listings-data-analyst-google-app-script-webengage-mumbai-bangalore-bengaluru-3-to-6-years-140223501223
https://www.naukri.com/job-listings-data-analyst-edtech-talentstack-consulting-bangalore-bengaluru-2-to-6-years-310123921063

In [55]:
job_titles=[]

In [59]:
#sleep(3)-we will wait for 3-5 second to load the web page otherwise we canot scrap the data- below 3 seconds
# we will scrap the data from the start we not csrap the data from middle of the pages
start=0
end=2
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
    for i in titles:
        job_titles.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')# To scrap the data from next page
    next_button.click()
    time.sleep(3)

In [61]:
len(job_titles)

40

In [62]:
job_titles

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst Databricks',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Required Data Analyst Off Role',
 'Data Analyst | Google App Script',
 'Data Analyst - EdTech',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - MySQL',
 'Data Analyst',
 'data analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'DATA ANALYST',
 'Data Analyst',
 'Data Analyst - 8016',
 'Data Analyst-2404',
 'Data Analyst - 4618',
 'Data Analyst',
 'DATA ANALYST',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst III',
 'Data Analyst III']

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\spectrum buildtech\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#Scraping job location from the given data
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#Scraping company name from the data
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [11]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [12]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name})
df

,Title,Location,Company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant
3,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS)
4,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini
5,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
6,Data Scientist,"Bangalore/Bengaluru, Noida, Indore, Pune, Gurg...",Impetus Technologies
7,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited
8,Sr. Data Scientist,Bangalore/Bengaluru,Visa
9,Data Scientist Architect,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Brace Infotech

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\spectrum buildtech\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: async-generator>=1.9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [12]:
Salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
Salary.click()

In [14]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [15]:
#Scrap the company name
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#Scraping job location from the given data
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#Scraping company name from the data
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#Scraping job experience from the given  data
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [16]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [17]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Sr. Associate - QR Strats Analytics,Mumbai,Morgan Stanley,2-6 Yrs
2,Data Scientist,Bangalore/Bengaluru,Capgemini,3-5 Yrs
3,Senior Data Science and Analytics Strategy Con...,Bangalore/Bengaluru,Wells Fargo,5-7 Yrs
4,Smart Dispatcher,Bangalore/Bengaluru,Capgemini,6-9 Yrs
5,Data Scientist data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Smark Laser Automation,0-5 Yrs
6,Data Science/ ML freshers,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Cliqhr Recruitment Services,0-1 Yrs
7,MACHINE LEARNING / DATA SCIENCE TRAINER,Bangalore/Bengaluru,Ethnotech Academy,2-5 Yrs
8,Data Science Professional,Bangalore/Bengaluru,Infosys,4-6 Yrs
9,Data Scientist,Bangalore/Bengaluru,Infosys,3-5 Yrs

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\spectrum buildtech\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: outcome in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data asusual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually

In [3]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [4]:
driver.get("https://www.flipkart.com/")

In [5]:
Search=driver.find_element(By.CLASS_NAME,"_3704LK")
Search.send_keys('sunglasses')

In [6]:
Search_for_products=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
Search_for_products.click()

In [7]:
Brand_Name=[]
Product_Description=[]
Price_Sunglass=[]

In [8]:
#Scrap the Brand name
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in Brand_tags[0:38]:
    Brand=i.text
    Brand_Name.append(Brand)

#Scraping PD from the given data
Product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Product_tags[0:38]:
    Product=i.text
    Product_Description.append(Product)

#Scraping price from the data
Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags[0:38]:
    Price=i.text
    Price_Sunglass.append(Price)

In [9]:
print(len(Brand_Name),len(Product_Description),len(Price_Sunglass))

38 38 38

In [10]:
import pandas as pd
df1=pd.DataFrame({'Brand':Brand_Name,'Product_Description':Product_Description,'Price':Price_Sunglass})
df1

,Brand,Product_Description,Price
0,Singco India,"UV Protection, Riding Glasses Retro Square Sun...",₹549
1,Singco India,"UV Protection, Riding Glasses Retro Square Sun...",₹549
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹149
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹629
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹559
5,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149
6,Elligator,"UV Protection Aviator, Wayfarer Sunglasses (54)",₹149
7,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...",₹999
8,PIRASO,UV Protection Aviator Sunglasses (58),₹274
9,Elligator,UV Protection Round Sunglasses (53),₹149
10,Elligator,UV Protection Wayfarer Sunglasses (53),₹149
11,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹649
12,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹268
13,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹699
14,Elligator,UV Protection Round Sunglasses (54),₹293
15,IANKY,UV Protection Aviator Sunglasses (Free Size),₹199
16,Fastrack,UV Protection Round Sunglasses (53),₹629
17,Elligator,UV Protection Clubmaster Sunglasses (54),₹149
18,PIRASO,"Riding Glasses, UV Protection Retro Square Sun...",₹224
19,PC STAR,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹265
20,Elligator,UV Protection Wayfarer Sunglasses (57),₹216
21,NuVew,UV Protection Aviator Sunglasses (54),₹99
22,PIRASO,"Toughened Glass Lens, UV Protection, Photochro...",₹208
23,R Resist,"Others Wayfarer, Retro Square Sunglasses (50)","₹1,399"
24,SRPM,UV Protection Sports Sunglasses (65),₹218
25,NuVew,UV Protection Rectangular Sunglasses (Free Size),₹129
26,New Specs,UV Protection Cat-eye Sunglasses (46),₹259
27,hayden haiza,"UV Protection, Polarized, Mirrored Rectangular...",₹276
28,SHAAH COLLECTIONS,UV Protection Wayfarer Sunglasses (Free Size),₹185
29,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),₹699
30,Fastrack,"Polarized, UV Protection Round Sunglasses (54)",₹629
31,Eyewearlabs,UV Protection Rectangular Sunglasses (52),"₹1,424"
32,PIRASO,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹182
33,Fastrack,"UV Protection, Gradient Rectangular, Spectacle...",₹559
34,Anemone,Rectangular Sunglass,₹356
35,OAKLEY,UV Protection Retro Square Sunglasses (53),"₹6,201"
36,PHENOMENAL,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹179
37,Fastrack,"Riding Glasses, Night Vision Wrap-around Sungl...",₹629

In [11]:
Next=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
Next.click()

In [12]:
Brand_Name=[]
Product_Description=[]
Price_Sunglass=[]

In [13]:
#Scrap the Brand name
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in Brand_tags[0:38]:
    Brand=i.text
    Brand_Name.append(Brand)

#Scraping PD from the given data
Product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Product_tags[0:38]:
    Product=i.text
    Product_Description.append(Product)

#Scraping price from the data
Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags[0:38]:
    Price=i.text
    Price_Sunglass.append(Price)

In [14]:
print(len(Brand_Name),len(Product_Description),len(Price_Sunglass))

38 38 38

In [15]:
import pandas as pd
df2=pd.DataFrame({'Brand':Brand_Name,'Product_Description':Product_Description,'Price':Price_Sunglass})
df2

,Brand,Product_Description,Price
0,Singco India,"UV Protection, Riding Glasses Retro Square Sun...",₹549
1,Singco India,"UV Protection, Riding Glasses Retro Square Sun...",₹549
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹149
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹629
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹559
5,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149
6,Elligator,"UV Protection Aviator, Wayfarer Sunglasses (54)",₹149
7,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...",₹999
8,PIRASO,UV Protection Aviator Sunglasses (58),₹274
9,Elligator,UV Protection Round Sunglasses (53),₹149
10,Elligator,UV Protection Wayfarer Sunglasses (53),₹149
11,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹649
12,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹268
13,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹699
14,Elligator,UV Protection Round Sunglasses (54),₹293
15,IANKY,UV Protection Aviator Sunglasses (Free Size),₹199
16,Fastrack,UV Protection Round Sunglasses (53),₹629
17,Elligator,UV Protection Clubmaster Sunglasses (54),₹149
18,PIRASO,"Riding Glasses, UV Protection Retro Square Sun...",₹224
19,PC STAR,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹265
20,Elligator,UV Protection Wayfarer Sunglasses (57),₹216
21,NuVew,UV Protection Aviator Sunglasses (54),₹99
22,PIRASO,"Toughened Glass Lens, UV Protection, Photochro...",₹208
23,R Resist,"Others Wayfarer, Retro Square Sunglasses (50)","₹1,399"
24,SRPM,UV Protection Sports Sunglasses (65),₹218
25,NuVew,UV Protection Rectangular Sunglasses (Free Size),₹129
26,New Specs,UV Protection Cat-eye Sunglasses (46),₹259
27,hayden haiza,"UV Protection, Polarized, Mirrored Rectangular...",₹276
28,SHAAH COLLECTIONS,UV Protection Wayfarer Sunglasses (Free Size),₹185
29,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),₹699
30,Fastrack,"Polarized, UV Protection Round Sunglasses (54)",₹629
31,Eyewearlabs,UV Protection Rectangular Sunglasses (52),"₹1,424"
32,PIRASO,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹182
33,Fastrack,"UV Protection, Gradient Rectangular, Spectacle...",₹559
34,Anemone,Rectangular Sunglass,₹356
35,OAKLEY,UV Protection Retro Square Sunglasses (53),"₹6,201"
36,PHENOMENAL,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹179
37,Fastrack,"Riding Glasses, Night Vision Wrap-around Sungl...",₹629

In [16]:
Next=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
Next.click()

In [17]:
Brand_Name=[]
Product_Description=[]
Price_Sunglass=[]

In [18]:
#Scrap the Brand name
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in Brand_tags[0:24]:
    Brand=i.text
    Brand_Name.append(Brand)

#Scraping PD from the given data
Product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Product_tags[0:24]:
    Product=i.text
    Product_Description.append(Product)

#Scraping price from the data
Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags[0:24]:
    Price=i.text
    Price_Sunglass.append(Price)

In [19]:
print(len(Brand_Name),len(Product_Description),len(Price_Sunglass))

24 24 24

In [20]:
import pandas as pd
df3=pd.DataFrame({'Brand':Brand_Name,'Product_Description':Product_Description,'Price':Price_Sunglass})
df3

             Brand                                Product_Description   Price
0        ROYAL SON                   Mirrored Aviator Sunglasses (55)    ₹399
1           SUNBEE   UV Protection Rectangular Sunglasses (Free Size)    ₹179
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹599
3   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...    ₹423
4        Rich Club         UV Protection Retro Square Sunglasses (52)    ₹230
5          DEIXELS  Polarized, UV Protection, Riding Glasses Wayfa...    ₹228
6            NuVew     UV Protection, Mirrored Sports Sunglasses (62)    ₹345
7      Eyewearlabs     Polarized, UV Protection Round Sunglasses (51)  ₹1,614
8       LIZA ANGEL  Riding Glasses, Night Vision Spectacle Sunglas...    ₹249
9   kingsunglasses          UV Protection Rectangular Sunglasses (55)    ₹186
10  kingsunglasses          UV Protection Rectangular Sunglasses (55)    ₹252
11   VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...    ₹979
12         Dannilo    Gradient, Mirrored Round Sunglasses (Free Size)    ₹240
13        Fastrack             UV Protection Wayfarer Sunglasses (52)    ₹599
14  kingsunglasses  Mirrored, UV Protection Wayfarer Sunglasses (F...    ₹260
15     Eyewearlabs  Polarized, UV Protection Rectangular Sunglasse...  ₹1,994
16        Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹699
17       New Specs  UV Protection Retro Square Sunglasses (Free Size)    ₹179
18        Fastrack             UV Protection Wayfarer Sunglasses (57)    ₹629
19          OCHILA              UV Protection Aviator Sunglasses (58)    ₹194
20  kingsunglasses  UV Protection Retro Square Sunglasses (Free Size)    ₹179
21           NuVew               UV Protection Sports Sunglasses (62)    ₹362
22      LIZA ANGEL  Riding Glasses, UV Protection, Night Vision Sp...    ₹199
23  ROZZETTA CRAFT              UV Protection Aviator Sunglasses (62)    ₹649

In [30]:
df=pd.concat([df1,df2,df3],ignore_index=True,axis=0)
df

             Brand                                Product_Description Price
0     Singco India  UV Protection, Riding Glasses Retro Square Sun...  ₹549
1     Singco India  UV Protection, Riding Glasses Retro Square Sun...  ₹549
2             SRPM             UV Protection Wayfarer Sunglasses (50)  ₹149
3         Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...  ₹629
4         Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹559
..             ...                                                ...   ...
95          OCHILA              UV Protection Aviator Sunglasses (58)  ₹194
96  kingsunglasses  UV Protection Retro Square Sunglasses (Free Size)  ₹179
97           NuVew               UV Protection Sports Sunglasses (62)  ₹362
98      LIZA ANGEL  Riding Glasses, UV Protection, Night Vision Sp...  ₹199
99  ROZZETTA CRAFT              UV Protection Aviator Sunglasses (62)  ₹649

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [19]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\spectrum buildtech\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [20]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [30]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [31]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART")

In [32]:
Rating_iphone=[]

In [33]:
start=0
end=9
for page in range(start,end):
    iphone=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in iphone:
        Rating_iphone.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')# To scrap the data from next page
    next_button.click()
    time.sleep(9)

In [34]:
Rating_iphone=[]
Review_summary=[]
Full_review=[]

In [59]:
#Scrap  Brand rating name
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in Rating_tags:
    Rating=i.text
    Rating_iphone.append(Rating)

#Scraping review from the given data
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags:
    Review=i.text
    Review_summary.append(Review)

#Scraping price from the data
Full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in Full_tags:
    Full=i.text
    Full_review.append(Full)

In [60]:
print(len(Rating_iphone),len(Review_summary),len(Full_review))

100 100 100

In [61]:
import pandas as pd
df=pd.DataFrame({'Rating':Rating_iphone,'Review_summary':Review_summary,'Full_review':Full_review})
df

,Rating,Review_summary,Full_review
0,5,Fabulous!,This is my first iOS phone. I am very happy wi...
1,5,Classy product,Best and amazing product.....phone looks so pr...
2,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
96,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
97,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
98,5,Highly recommended,"Amazing camera quality as expected, battery al..."
99,5,Perfect product!,It is just awesome mobile for this price from ...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [89]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [90]:
driver.get("https://www.flipkart.com/")

In [91]:
Search=driver.find_element(By.CLASS_NAME,"_3704LK")
Search.send_keys('sneakers')

In [92]:
Search_for_products=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
Search_for_products.click()

In [93]:
Brand_sneakers=[]

In [94]:
start=0
end=2
for page in range(start,end):
    sneakers=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in sneakers:
        Brand_sneakers.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')# To scrap the data from next page
    next_button.click()
    time.sleep(3)

In [95]:
Brand_sneakers=[]
Product_description=[]
price_sneakers=[]

In [101]:
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in Brand_tags[0:100]:
    Brand=i.text
    Brand_sneakers.append(Brand)

#Scraping PD from the given data
Product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Product_tags[0:100]:
    Product=i.text
    Product_description.append(Product)

#Scraping price from the data
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    price_sneakers.append(price)

In [102]:
print(len(Brand_sneakers),len(Product_description),len(price_sneakers))

120 120 120

In [103]:
import pandas as pd
df=pd.DataFrame({'Brand':Brand_sneakers,'Product_description':Product_description,'price':price_sneakers})
df

           Brand                                Product_description price
0    GLOSSY LIFE                                   Sneakers For Men  ₹494
1         BRUTON             2 Combo Sneaker Shoes Sneakers For Men  ₹499
2          BIRDE                                 Sneakers For Women  ₹199
3            SFR                                   Sneakers For Men  ₹289
4          BIRDE      Combo Pack of 2 Casual Shoes Sneakers For Men  ₹499
..           ...                                                ...   ...
115       BRUTON             2 Combo Sneaker Shoes Sneakers For Men  ₹499
116        BIRDE  Premium Casual Shoes for Women Sneakers For Women  ₹299
117         aadi                                   Sneakers For Men  ₹399
118       Layasa                                 Sneakers For Women  ₹389
119       BRUTON             2 Combo Sneaker Shoes Sneakers For Men  ₹499

[120 rows x 3 columns]

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [116]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [117]:
driver.get("https://www.amazon.in/")

In [118]:
Search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
Search.send_keys('Laptop')

In [119]:
Search_for_products=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
Search_for_products.click()

In [120]:
CPU_Type=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[10]/span/a/span")
CPU_Type.click()

In [121]:
title_Laptop=[]
rating_Laptop=[]
price_Laptop=[]

In [122]:
#Title of laptop
title_tags=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for i in title_tags[0:10]:
    title=i.text
    title_Laptop.append(title)

#Scraping rating from the given data
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating_tags[0:10]:
    rating=i.text
    rating_Laptop.append(rating)

#Scraping price from the data
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    price_Laptop.append(price)

In [123]:
print(len(title_Laptop),len(rating_Laptop),len(price_Laptop))

10 10 10

In [124]:
import pandas as pd
df=pd.DataFrame({'Title':title_Laptop,'Ratings':rating_Laptop,'Price':price_Laptop})
df

                                               Title Ratings   Price
0  Dell Vostro 3420 Laptop,12th Gen Intel Core i5...     3.6  57,490
1  Fujitsu CH Intel Evo Core i5 11th Gen 13.3” FH...     3.9  54,990
2  (Renewed) Dell Latitude E5470 Intel Core i5 6t...     3.6  17,899
3  HP ProBook 440 G8 Notebook PC, 11th Gen Intel ...     3.9  51,990
4  (Renewed) DELL Latitude 5490 Core i5 8th Gen L...     3.3  24,274
5  HP 15s, 11th Gen Intel Core i5-1155G7, 15.6 in...     3.4  52,490
6  (Renewed) Dell Latitude Laptop E7470 Intel Cor...     4.1  20,999
7  HP 15s, 12th Gen Intel Core i5 8GB RAM/512GB S...     3.9  58,018
8  HP 15s, 12th Gen Intel Core i5 16GB RAM/512GB ...     4.1  62,912
9  ASUS VivoBook 14 (2021), Intel Core i5-1135G7 ...     3.5  47,990

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [125]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [126]:
driver.get("https://www.azquotes.com/")

In [127]:
Top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
Top_quotes.click()

In [128]:
Quote_top100=[]
Author_top100=[]
Type_quotes=[]

In [130]:

Quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in Quote_tags:
    Quote=i.text
    Quote_top100.append(Quote)


Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags:
    Author=i.text
    Author_top100.append(Author)


Type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Type_tags:
    Type=i.text
    Type_quotes.append(Type)

In [131]:
print(len(Quote_top100),len(Author_top100),len(Type_quotes))

100 100 100

In [132]:
import pandas as pd
df=pd.DataFrame({'Quote':Quote_top100,'Author':Author_top100,'Type_of_Quotes':Type_quotes})
df

,Quote,Author,Type_of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [141]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [142]:
driver.get("https://www.jagranjosh.com/")

In [143]:
GK_option=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
GK_option.click()

In [144]:
Prime_Ministers=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
Prime_Ministers.click()

In [153]:
Name_PM=[]
Born_Dead=[]
Term_office=[]
Remarks_PM=[]

In [154]:
Name_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in Name_tags[0:18]:
    Name=i.text
    Name_PM.append(Name)

Born_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in Born_tags[0:18]:
    Born=i.text
    Born_Dead.append(Born)
    
Term_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]')
for i in Term_tags[0:18]:
    Term=i.text
    Term_office.append(Term)    
    
        
Remarks_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in Remarks_tags[0:18]:
    Remarks=i.text
    Remarks_PM.append(Remarks)

In [155]:
print(len(Name_PM),len(Born_Dead),len(Term_office),len(Remarks_PM))

18 18 18 18

In [157]:
import pandas as pd
df=pd.DataFrame({'Name':Name_PM,'Born_Dead':Born_Dead,'Term_of_office':Term_office,'Remarks':Remarks_PM})
df

,Name,Born_Dead,Term_of_office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [163]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [164]:
driver.get("https://www.motor1.com/")

In [167]:
List_option=driver.find_element(By.XPATH,"/html/body/div[3]/div[14]/div/div[2]/div[1]/div[4]/div/div[1]/div[3]/a/span")
List_option.click()

In [169]:
Most_Expensive=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[2]/div/div[1]/h3/a")
Most_Expensive.click()

In [178]:
Car_name=[]
price_car=[]

In [179]:
Car_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in Car_tags[0:50]:
    Car=i.text
    Car_name.append(Car)

price_tags=driver.find_elements(By.XPATH,'//strong')
for i in price_tags[0:50]:
    price=i.text
    price_car.append(Price)

In [180]:
print(len(Car_name),len(price_car))

50 50

In [183]:
import pandas as pd
df=pd.DataFrame({'Car_Name':Car_name,'Price':price_car})
df

                           Car_Name                Price
0                     De Tomaso P72  Price: $1.3 Million
1                 Ferrari LaFerrari  Price: $1.3 Million
2                     Pagani Huayra  Price: $1.3 Million
3                      McLaren Elva  Price: $1.3 Million
4                       Czinger 21C  Price: $1.3 Million
5                     Ferrari Monza  Price: $1.3 Million
6                Gordon Murray T.33  Price: $1.3 Million
7                 Koenigsegg Gemera  Price: $1.3 Million
8                       Zenvo TSR-S  Price: $1.3 Million
9                Hennessey Venom F5  Price: $1.3 Million
10                  Bentley Bacalar  Price: $1.3 Million
11    Hispano Suiza Carmen Boulogne  Price: $1.3 Million
12           Bentley Mulliner Batur  Price: $1.3 Million
13                     Deus Vayanne  Price: $1.3 Million
14                      SSC Tuatara  Price: $1.3 Million
15                      Lotus Evija  Price: $1.3 Million
16              Aston Martin Vulcan  Price: $1.3 Million
17                       Delage D12  Price: $1.3 Million
18                McLaren Speedtail  Price: $1.3 Million
19                     Rimac Nevera  Price: $1.3 Million
20                    Pagani Utopia  Price: $1.3 Million
21             Pininfarina Battista  Price: $1.3 Million
22                Ferrari FXX K Evo  Price: $1.3 Million
23               Gordon Murray T.50  Price: $1.3 Million
24             Lamborghini Countach  Price: $1.3 Million
25         Mercedes-AMG Project One  Price: $1.3 Million
26              Aston Martin Victor  Price: $1.3 Million
27      Hennessey Venom F5 Roadster  Price: $1.3 Million
28                 Koenigsegg Jesko  Price: $1.3 Million
29            Aston Martin Valkyrie  Price: $1.3 Million
30        W Motors Lykan Hypersport  Price: $1.3 Million
31                    McLaren Solus  Price: $1.3 Million
32        Pagani Huayra Roadster BC  Price: $1.3 Million
33         Bugatti Chiron Pur Sport  Price: $1.3 Million
34                 Lamborghini Sian  Price: $1.3 Million
35                 Koenigsegg CC850  Price: $1.3 Million
36  Bugatti Chiron Super Sport 300+  Price: $1.3 Million
37               Lamborghini Veneno  Price: $1.3 Million
38                   Bugatti Bolide  Price: $1.3 Million
39                  Bugatti Mistral  Price: $1.3 Million
40              Pagani Huayra Imola  Price: $1.3 Million
41                     Bugatti Divo  Price: $1.3 Million
42              SP Automotive Chaos  Price: $1.3 Million
43                 Pagani Codalunga  Price: $1.3 Million
44         Mercedes-Maybach Exelero  Price: $1.3 Million
45               Bugatti Centodieci  Price: $1.3 Million
46          Bugatti Chiron Profilée  Price: $1.3 Million
47             Rolls-Royce Sweptail  Price: $1.3 Million
48         Bugatti La Voiture Noire  Price: $1.3 Million
49           Rolls-Royce Boat Tail*  Price: $1.3 Million